@using ArmyTech.ViewModels
@model InvoiceMainDataDto
@{
    ViewData["Title"] = "List of InvoiceData";
}

@await Html.PartialAsync("_AddNewItem", Model.AddNewItemDto)


<div cla ss="row">
    <div class="col">
        <table class="table" dir="rtl">
            <thead>
                <tr class="text-center">
                    <th>كود الفاتورة</th>
                    <th>  العميل  </th>
                    <th>الكاشير</th>
                    <th> الفرع  </th>
                    <th>  تاريخ الفاتورة  </th>
                    <th>تفاصيل الفاتورة</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var invoice in Model.InvoiceData)
                {
                    <tr class="text-center">
                        <td class="align-middle">  @invoice.InvoiceId</td>
                        <td class="align-middle"> @invoice.CustomerName </td>
                        <td class="align-middle"> @invoice.CashierName </td>
                        <td class="align-middle"> @invoice.BranchName </td>
                        <td class="align-middle"> @invoice.InvoiceDate.ToShortDateString() </td>
                        <td>
                            @foreach(var invoiceDetail in invoice.InvoiceDetails)
                            {
                                <span>الصنف :  @invoiceDetail.ItemName - </span>
                                <span>الكمية : @invoiceDetail.Quantity - </span>
                                <span>السعر : @invoiceDetail.Price - </span>
                                <span>قيمة : @invoiceDetail.TotalValue  </span>
                                <p></p>
                            }
                        </td>
                        <td class="align-middle">
                            <a class="btn btn-outline-primary" asp-controller="Producers" asp-action="Edit" asp-route-id="@invoice.InvoiceId"><i class="bi bi-pencil-square"></i>Edit</a>
                            <a class="btn btn-danger text-white" asp-controller="Producers" asp-action="Delete" asp-route-id="@invoice.InvoiceId"><i class="bi bi-trash"></i>Delete</a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>






